
body {
    background-color: #f8f9fa;
}

.card-title {
    color: #004080;
}

h1 {
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.movie-poster {
    max-height: 300px;
    width: auto;
    display: block;
    margin: 0 auto 1.5rem auto;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
